body, button, input {
  font-family: monospace;
  font-size: 20pt;
}

body {
  background-color: #f7f7f7;
  text-align: center;
}

.Modal {
  background-color: #f7f7f7;
  height: 50%;
  width: 50%;
  margin: 5% auto;
}

.Modal input {
  margin: 1%;
}

.Task {
  background-color: #eeeeee;
  width: 40%;
  margin: 1% auto;
  padding: 1%;
  word-wrap: break-word;
}

.Login, .Register {
  text-align: center;
  width: 40%;
  margin: 1% auto;
  padding: 1%;
}

button {
  background-color: #929aab;
  border: none;
  margin: auto 1%;
  transition-duration: 200ms;
}

button:hover{
  background-color: #393e46;
  transition-duration: 200ms;
}