body, button, input {
  font-family: monospace;
  font-size: 20pt;
}

body {
  background-color: #686256;
  text-align: center;
}

.Modal {
  background-color: #686256;
  height: 50%;
  width: 50%;
  margin: 5% auto;
}

.Modal input {
  margin: 1%;
}

.Task {
  background-color: #c1502e;
  width: 40%;
  margin: 1% auto;
  padding: 1%;
  word-wrap: break-word;
}

.Login {
  text-align: center;
  width: 40%;
  margin: 1% auto;
  padding: 1%;
}

button {
  background-color: #a96e5b;
  border: none;
  margin: auto 1%;
  transition-duration: 200ms;
}

button:hover{
  background-color: #7a3b2e;
  transition-duration: 200ms;
}